In [1]:
# Import Dependencies
import os
import csv
import pandas as pd

In [2]:
# Create reference to CSV file
PyBank = "budget_data.csv"
print(PyBank)

budget_data.csv

In [3]:
# Import the budget_data into a pandas DataFrame
budget_data_df = pd.read_csv(PyBank)
budget_data_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845
15  Apr-2011         793163
16  May-2011         485070
17  Jun-2011         584122
18  Jul-2011          62729
19  Aug-2011         668179
20  Sep-2011         899906
21  Oct-2011         834719
22  Nov-2011         132003
23  Dec-2011         309978
24  Jan-2012        -755566
25  Feb-2012        1170593
26  Mar-2012         252788
27  Apr-2012        1151518
28  May-2012         817256
29  Jun-2012         570757
..       ...            ...
56  Sep-2014        1166643
57  Oct-2014         947333
58  Nov-2014         578668
59  Dec-2014         988505
60  Jan-2015        1139715
61  Feb-2015        1029471
62  Mar-2015         687533
63  Apr-2015        -524626
64  May-2015         158620
65  Jun-2015          87795
66  Jul-2015         423389
67  Aug-2015         840723
68  Sep-2015         568529
69  Oct-2015         332067
70  Nov-2015         989499
71  Dec-2015         778237
72  Jan-2016         650000
73  Feb-2016       -1100387
74  Mar-2016        -174946
75  Apr-2016         757143
76  May-2016         445709
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [4]:
# find out number of rows and colunms in budget data csv file after split of "Date" (header excluded)
budget_data_df.shape

(86, 2)

In [5]:
# split column to get count of months 
# 1) create new df single column
new_df_no_expand=budget_data_df['Date'].str.split('-')
new_df_no_expand.head(3)

0    [Jan, 2010]
1    [Feb, 2010]
2    [Mar, 2010]
Name: Date, dtype: object

In [6]:
# 2) expand to new columns
new_df=budget_data_df['Date'].str.split('-', expand=True)
new_df.head(3)

     0     1
0  Jan  2010
1  Feb  2010
2  Mar  2010

In [7]:
# 3) add new column to old dataframe
budget_data_df[['mm','year']]=budget_data_df['Date'].str.split('-', expand=True)
budget_data_df.head()

       Date  Profit/Losses   mm  year
0  Jan-2010         867884  Jan  2010
1  Feb-2010         984655  Feb  2010
2  Mar-2010         322013  Mar  2010
3  Apr-2010         -69417  Apr  2010
4  May-2010         310503  May  2010

In [8]:
# 1) compute total number of months included in the dataset
Count = budget_data_df["mm"].value_counts()
print(Count)

Jan    8
Feb    8
Mar    7
Oct    7
May    7
Jun    7
Nov    7
Dec    7
Sep    7
Aug    7
Jul    7
Apr    7
Name: mm, dtype: int64

In [9]:
# 1) count total number of months included in the dataset, describe to get summary of count of months
budget_data_df["mm"].describe()

count      86
unique     12
top       Jan
freq        8
Name: mm, dtype: object

In [10]:
# 2) The net total amount of "Profit/Losses" over the entire period
Total = budget_data_df["Profit/Losses"].sum()
print(Total)

38382578

In [11]:
# List all the columns the table provides
budget_data_df.columns

Index(['Date', 'Profit/Losses', 'mm', 'year'], dtype='object')

In [12]:
# 3)The average of the changes in "Profit/Losses" over the entire period
# average of the changes in "Profit/Losses" = difference of this month from last month. PL=Profit/Losses
change_list = []
for row in budget_data_df:
    PL_thismonth = budget_data_df.iloc[0]['Profit/Losses']
    PL_lastmonth = budget_data_df.iloc[+1]['Profit/Losses']
    difference = PL_thismonth - PL_lastmonth
    change_list.append(difference)
    
    
print(change_list)

[-116771, -116771, -116771, -116771]

In [13]:
# 4) The greatest increase in profits (date and amount) over the entire period

In [14]:
# 5) The greatest decrease in losses (date and amount) over the entire period