# PyCity Schools Analysis written description

 -	There are total of 39170 students and 15 schools in this district with a total budget of 82,932,329,558. 

Variables used measure and compare school performances include:

-	Average Math Score (AMS)
-	Average Reading Score (ARS)
-	Percentage Passing Math (PPM)
-	Percentage Passing Reading (PPR)
-	Overall Passing Rate (OPR)

District summary analysis showed that in this school district:
-	AMS = 78.985371
-	ARS = 81.87784
-	PPM =74.980853
-	PPR = 85.805463
-	OPR = 80.431606

Analysis variables by school type showed that Charter schools have higher performances than District schools. 
-	Charter schools: AMS = 83.473852, ARS = 83.896421, PPM = 93.620830, PPR=96.586489, OPR=95.103660
-	District schools: AMS = 76.956733, ARS = 80.966636, PPM = 66.548453, PPR=80.799062, OPR=73.673757


As evidenced by school summary analysis, five charter schools are found among top performing schools.  School summary analysis also showed that district schools are among the lower five bottom performing school.  

Analysis of AMS  and ARS  by grade (9th,10th, 11th ,12th) showed that there is no significance variation on scores across all grades in all schools. 

Analysis of variables by school spending showed that there is an inverse relationship between budget per student and variables scores. Increased spending doesn’t improve scores. 

Analysis of variables by school size showed that there is a direct relationship between school size and variables scores. As school size increases performance decreases.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
schooldata = "schools_complete.csv"
studentdata = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(schooldata )
student_data_df = pd.read_csv(studentdata)

# Combine the data into a single dataset
school_data_complete= pd.merge(school_data_df, student_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

#  1.	PyCitySchools:-District Summary

##  all tasks are completed

-	Calculate the total number of schools
-	Calculate the total number of students
-	Calculate the total budget
-	Calculate the average math score 
-	Calculate the average reading score
-	Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
-	Calculate the percentage of students with a passing math score (70 or greater)
-	Calculate the percentage of students with a passing reading score (70 or greater)
-	Create a dataframe to hold the above results
-	Optional: give the displayed data cleaner formatting

In [2]:
Total_School = len(school_data_complete["school_name"].unique())
Total_School

15

In [3]:
# Calculate the total number of students
Total_Students = school_data_complete["Student ID"].count()
Total_Students

39170

In [4]:
# Calculate the total budget
Total_Budget = school_data_complete["budget"].sum()
Total_Budget

82932329558

In [5]:
# Calculate the average math score 
Average_Math_Score = school_data_complete["math_score"].mean()
round(Average_Math_Score,6)

78.985371

In [6]:
# Calculate the average reading score
Average_Reading_Score = school_data_complete["reading_score"].mean()
round(Average_Reading_Score, 6)

81.87784

In [7]:
# Percentage_Passing_Math

# extract all math_score >= 70 from school_data_complete dataframe
School_Score_math =school_data_complete[(school_data_complete["math_score"] >= 70)]

# find out count of students with math score >= 70
mathcore_greater70=School_Score_math["Student ID"].count()

# Calculate the percentage of students with a passing math score (70 or greater) 
#i.e.(mathcore_greater70/Total_Students)*100 
Percentage_Passing_Math = (mathcore_greater70/ Total_Students) *100
round(Percentage_Passing_Math, 6)

74.980853

In [8]:
# Percentage_Passing_Reading  

# extract all reading_score >= 70 from score from school_data_complete dataframe
Reading_School_Score = school_data_complete[(school_data_complete["reading_score"] >= 70)] 

# find out students count with reading score >= 70
Readingcore_greater70 = Reading_School_Score["Student ID"].count()

# Calculate the percentage of students with a passing reading score (70 or greater)
Percentage_Passing_Reading = (Readingcore_greater70 / Total_Students) *100
round(Percentage_Passing_Reading, 6)

85.805463

In [9]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
Overall_Passing_Rate = (Average_Math_Score + Average_Reading_Score) / 2
round(Overall_Passing_Rate, 6)

80.431606

In [10]:
# Create a dataframe to hold the above results
District_Summary_df = pd.DataFrame({
                                "Total\nSchool":[Total_School],
                                "Total\nStudents":[Total_Students],
                                "Total\nBudget":[Total_Budget],
                                "Average\nMath\nScore":[Average_Math_Score],
                                "Average\nReading\nScore":[Average_Reading_Score],
                                "Percentage\nPassing\nMath":[Percentage_Passing_Math],
                                "Percentage\nPassing\nReading":[Percentage_Passing_Reading],
                                "Overall\nPassing\nRate":[Overall_Passing_Rate]
                                })
District_Summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,80.431606

# Note :- All district summary results are similar except total budget

My result = 82932329558. 
Result on original template = $24,649,428.00

# 2.	PyCitySchools:- School Summary

##  all tasks are completed
-	Create an overview table that summarizes key metrics about each school, including: 
-	School Type
-	Total Students
-	Total School Budget
-	Per Student Budget
-	Average Math Score
-	Average Reading Score
-	% Passing Math
-	% Passing Reading
-	Overall Passing Rate (Average of the above two)

In [11]:
school_type=school_data_df.set_index(["school_name"])["type"]
student_count=school_data_complete["school_name"].value_counts()

school_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_perstudent=school_budget/student_count

avg_mathscore=school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_readscore=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

passing_math=school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_Read=school_data_complete[(school_data_complete["reading_score"] >= 70)] 


passing_math_count=passing_math.groupby(["school_name"]).count()["student_name"] / student_count *100
passing_Read_count=passing_Read.groupby(["school_name"]).count()["student_name"] / student_count *100

overall_pass_rate= (passing_math_count + passing_Read_count)/2

School_summary_df= pd.DataFrame({"School Type":school_type,
                                 "Total Student":student_count,
                                 "Total School Budget":school_budget,
                                 "Budget Per Student":budget_perstudent,
                                 "Average Math Score":avg_mathscore,
                                 "Average Reading Score":avg_readscore,
                                 "Percentage Passing Math":passing_math_count,
                                 "Percentage Passing Read":passing_Read_count,
                                 "Percent Overall Passing Rate":overall_pass_rate
                                })
School_summary_df

,School Type,Total Student,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

# 2.1.	Top Performing Schools (By Passing Rate)
•	Create a table that highlights the top 5 performing schools based on Overall Passing Rate

In [12]:
top_performing_schools= School_summary_df.sort_values(["Percent Overall Passing Rate"], ascending=False)
top_performing_schools.head(5)

,School Type,Total Student,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

# 2.2.	Bottom Performing Schools (By Passing Rate)
•	Create a table that highlights the bottom 5 performing schools based on Overall Passing Rate

In [13]:
bottom_performing_schools= School_summary_df.sort_values(["Percent Overall Passing Rate"], ascending=True)
bottom_performing_schools.head(5)

,School Type,Total Student,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

# 2.3.	 Math and Reading Scores by Grade

all tasks are completed
  
  * Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

# 2.3.1 Math  Scores by Grade**

# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [14]:
# split and separate 9th grade data 
grade9th=school_data_complete[school_data_complete["grade"]== "9th"]

# split and separate 10 grader from school_data_complete
grade10th=school_data_complete[school_data_complete["grade"]== "10th"]

# separate 11  grader only from school_data_complete
grade11th=school_data_complete[school_data_complete["grade"]== "11th"]

# separate 12  grader only from school_data_complete
grade12th=school_data_complete[school_data_complete["grade"]== "12th"]

In [15]:
# 9 graders gouped by school name and average math_score
grade9th.groupby('school_name').math_score.mean()

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [16]:
# 10 graders gouped by school name and average math_score
grade10th.groupby('school_name').math_score.mean()

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [17]:
# 11 graders gouped by school name and average math_score
grade11th.groupby('school_name').math_score.mean()

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [18]:
# 12 graders gouped by school name and average math_score
grade12th.groupby('school_name').math_score.mean()

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [19]:
# Created grade series for 9th, 10th, 11th, and 12th grade. Each series grouped by school name and average math score
series1 =grade9th.groupby('school_name').math_score.mean()
series2 =grade10th.groupby('school_name').math_score.mean()
series3 =grade11th.groupby('school_name').math_score.mean()
series4 =grade12th.groupby('school_name').math_score.mean()

In [20]:
# combine the above grade series to create dataframe using concatenation 
Math_Scores_Grade_df = pd.concat([series1,series2,series3,series4],axis=1).reset_index()
Math_Scores_Grade_df

              school_name  math_score  math_score  math_score  math_score
0      Bailey High School   77.083676   76.996772   77.515588   76.492218
1     Cabrera High School   83.094697   83.154506   82.765560   83.277487
2    Figueroa High School   76.403037   76.539974   76.884344   77.151369
3        Ford High School   77.361345   77.672316   76.918058   76.179963
4     Griffin High School   82.044010   84.229064   83.842105   83.356164
5   Hernandez High School   77.438495   77.337408   77.136029   77.186567
6      Holden High School   83.787402   83.429825   85.000000   82.855422
7       Huang High School   77.027251   75.908735   76.446602   77.225641
8     Johnson High School   77.187857   76.691117   77.491653   76.863248
9        Pena High School   83.625455   83.372000   84.328125   84.121547
10  Rodriguez High School   76.859966   76.612500   76.395626   77.690748
11    Shelton High School   83.420755   82.917411   83.383495   83.778976
12     Thomas High School   83.590022   83.087886   83.498795   83.497041
13     Wilson High School   83.085578   83.724422   83.195326   83.035794
14     Wright High School   83.264706   84.010288   83.836782   83.644986

In [21]:
# rename columns
Math_Scores_Grade_df.columns = ['   ', '9th', '10th', '11th', '12th']
Math_Scores_Grade_df

                                 9th       10th       11th       12th
0      Bailey High School  77.083676  76.996772  77.515588  76.492218
1     Cabrera High School  83.094697  83.154506  82.765560  83.277487
2    Figueroa High School  76.403037  76.539974  76.884344  77.151369
3        Ford High School  77.361345  77.672316  76.918058  76.179963
4     Griffin High School  82.044010  84.229064  83.842105  83.356164
5   Hernandez High School  77.438495  77.337408  77.136029  77.186567
6      Holden High School  83.787402  83.429825  85.000000  82.855422
7       Huang High School  77.027251  75.908735  76.446602  77.225641
8     Johnson High School  77.187857  76.691117  77.491653  76.863248
9        Pena High School  83.625455  83.372000  84.328125  84.121547
10  Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11    Shelton High School  83.420755  82.917411  83.383495  83.778976
12     Thomas High School  83.590022  83.087886  83.498795  83.497041
13     Wilson High School  83.085578  83.724422  83.195326  83.035794
14     Wright High School  83.264706  84.010288  83.836782  83.644986

# 2.3.2	Reading  Scores by Grade**

# Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

In [22]:
# 9 graders gouped by school name and average reading_score
grade9th.groupby('school_name').reading_score.mean()

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [23]:
# 10 graders gouped by school name and average reading_score
grade10th.groupby('school_name').reading_score.mean()

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [24]:
# 11 graders gouped by school name and average reading_score
grade11th.groupby('school_name').reading_score.mean()

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [25]:
# 12 graders gouped by school name and average reading_score
grade12th.groupby('school_name').reading_score.mean()

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [26]:
# Created grade series for 9th, 10th, 11th, and 12th grade. Each series grouped by school name and average math score
series1 =grade9th.groupby('school_name').reading_score.mean()
series2 =grade10th.groupby('school_name').reading_score.mean()
series3 =grade11th.groupby('school_name').reading_score.mean()
series4 =grade12th.groupby('school_name').reading_score.mean()

In [27]:
# combine the above grade series to create dataframe using concatenation 
Reading_Scores_Grade_df = pd.concat([series1,series2,series3,series4],axis=1).reset_index()
Reading_Scores_Grade_df

,school_name,reading_score,reading_score,reading_score,reading_score
0,Bailey High School,81.303155,80.907183,80.945643,80.912451
1,Cabrera High School,83.676136,84.253219,83.788382,84.287958
2,Figueroa High School,81.198598,81.408912,80.640339,81.384863
3,Ford High School,80.632653,81.262712,80.403642,80.662338
4,Griffin High School,83.369193,83.706897,84.288089,84.013699
5,Hernandez High School,80.866860,80.660147,81.396140,80.857143
6,Holden High School,83.677165,83.324561,83.815534,84.698795
7,Huang High School,81.290284,81.512386,81.417476,80.305983
8,Johnson High School,81.260714,80.773431,80.616027,81.227564
9,Pena High School,83.807273,83.612000,84.335938,84.591160
10,Rodriguez High School,80.993127,80.629808,80.864811,80.376426
11,Shelton High School,84.122642,83.441964,84.373786,82.781671
12,Thomas High School,83.728850,84.254157,83.585542,83.831361
13,Wilson High School,83.939778,84.021452,83.764608,84.317673
14,Wright High School,83.833333,83.812757,84.156322,84.073171

In [28]:
# rename column
Reading_Scores_Grade_df.columns = ['   ', '9th', '10th', '11th', '12th']
Reading_Scores_Grade_df

                                 9th       10th       11th       12th
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

# # 2.4.	PyCitySchools :- Scores by School Spending 
 
 
##  all tasks are completed

•	Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. 
Include in the table each of the following: 
-	Average Math Score
-	Average Reading Score
-	% Passing Math
-	% Passing Reading
-	Overall Passing Rate (Average of the above two)

In [29]:
student_count=school_data_complete["school_name"].value_counts()
school_budget=school_data_complete.groupby(["school_name"]).mean()["budget"]

budget_perstudent=school_budget/student_count

avg_mathscore=school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_readscore=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

passing_math=school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_Read=school_data_complete[(school_data_complete["reading_score"] >= 70)] 

passing_math_count=passing_math.groupby(["school_name"]).count()["student_name"] / student_count *100
passing_Read_count=passing_Read.groupby(["school_name"]).count()["student_name"] / student_count *100

overall_pass_rate= (passing_math_count + passing_Read_count)/2

SchoolSpending_summary_df= pd.DataFrame({
                                 "Budget Per Student":budget_perstudent,
                                 "Average Math Score":avg_mathscore,
                                 "Average Reading Score":avg_readscore,
                                 "Percentage Passing Math":passing_math_count,
                                 "Percentage Passing Read":passing_Read_count,
                                 "Percent Overall Passing Rate":overall_pass_rate
                                        })
SchoolSpending_summary_df

,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
school_name,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [30]:
max = School_summary_df["Budget Per Student"].max()
print(max)
mean = School_summary_df["Budget Per Student"].mean()
print(mean)
min = School_summary_df["Budget Per Student"].min()
print(min)

655.0
620.0666666666667
578.0

In [31]:
# Create bins based upon per student school budget
bins=[0,585,615,645,660]
group_labels=["< 585", "585 to 615", "615 to 645", "645 t0 660"]


pd.cut(SchoolSpending_summary_df["Budget Per Student"], bins, labels=group_labels)

school_name
Bailey High School       615 to 645
Cabrera High School           < 585
Figueroa High School     615 to 645
Ford High School         615 to 645
Griffin High School      615 to 645
Hernandez High School    645 t0 660
Holden High School            < 585
Huang High School        645 t0 660
Johnson High School      645 t0 660
Pena High School         585 to 615
Rodriguez High School    615 to 645
Shelton High School      585 to 615
Thomas High School       615 to 645
Wilson High School            < 585
Wright High School            < 585
Name: Budget Per Student, dtype: category
Categories (4, object): [< 585 < 585 to 615 < 615 to 645 < 645 t0 660]

In [32]:
SchoolSpending_summary_df["Budget Per Student Group"] = pd.cut(SchoolSpending_summary_df["Budget Per Student"], 
                                                               bins, labels=group_labels)

SchoolSpending_summary_df

,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate,Budget Per Student Group
school_name,,,,,,,
Bailey High School,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,615 to 645
Cabrera High School,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,< 585
Figueroa High School,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,615 to 645
Ford High School,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,615 to 645
Griffin High School,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,615 to 645
Hernandez High School,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,645 t0 660
Holden High School,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,< 585
Huang High School,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,645 t0 660
Johnson High School,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,645 t0 660
Pena High School,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,585 to 615
Rodriguez High School,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,615 to 645
Shelton High School,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,585 to 615
Thomas High School,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,615 to 645
Wilson High School,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,< 585
Wright High School,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,< 585

In [33]:
# Create a GroupBy object based upon "Budget Per Student Group"
Spending_Group = SchoolSpending_summary_df.groupby("Budget Per Student Group")

# Find how many rows fall into each bin
print(Spending_Group["Budget Per Student"].count())

# Get the average of each column within the GroupBy object
Spending_Group[["Average Math Score", "Average Reading Score", "Percentage Passing Math","Percentage Passing Read",
                "Percent Overall Passing Rate"]]

Budget Per Student Group
< 585         4
585 to 615    2
615 to 645    6
645 t0 660    3
Name: Budget Per Student, dtype: int64

In [34]:
Scores_by_School_Spending_df= SchoolSpending_summary_df.groupby("Budget Per Student Group").mean()
Scores_by_School_Spending_df

,Budget Per Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Budget Per Student Group,,,,,,
< 585,581.000000,83.455399,83.933814,93.460096,96.610877,95.035486
585 to 615,604.500000,83.599686,83.885211,94.230858,95.900287,95.065572
615 to 645,635.166667,79.079225,81.891436,75.668212,86.106569,80.887391
645 t0 660,652.333333,76.997210,81.027843,66.164813,81.133951,73.649382

In [35]:
# hide/drop "Budget Per Student" column
Budget_Per_Student_Group_df = Scores_by_School_Spending_df.copy()
for col in ["Budget Per Student"]:
    Budget_Per_Student_Group_df=Budget_Per_Student_Group_df.drop(col,axis=1)
Budget_Per_Student_Group_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Budget Per Student Group,,,,,
< 585,83.455399,83.933814,93.460096,96.610877,95.035486
585 to 615,83.599686,83.885211,94.230858,95.900287,95.065572
615 to 645,79.079225,81.891436,75.668212,86.106569,80.887391
645 t0 660,76.997210,81.027843,66.164813,81.133951,73.649382

# 2.5.	PyCitySchools :- Scores by School Size

##  all tasks are completed

•	Create a table that breaks down school performances based on a reasonable approximation of school size (Small, Medium, Large). 
Include in the table each of the following: 
-	Average Math Score
-	Average Reading Score
-	% Passing Math
-	% Passing Reading
-	Overall Passing Rate (Average of the above two)

In [36]:
school_size=school_data_df.set_index(["school_name"])["size"]
student_count=school_data_complete["school_name"].value_counts()

avg_mathscore=school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_readscore=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

passing_math=school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_Read=school_data_complete[(school_data_complete["reading_score"] >= 70)] 

passing_math_count=passing_math.groupby(["school_name"]).count()["student_name"] / student_count *100
passing_Read_count=passing_Read.groupby(["school_name"]).count()["student_name"] / student_count *100

overall_pass_rate= (passing_math_count + passing_Read_count)/2

SchoolSize_summary_df= pd.DataFrame({"School Size":school_size,
                                        "Average Math Score":avg_mathscore,
                                        "Average Reading Score":avg_readscore,
                                        "Percentage Passing Math":passing_math_count,
                                        "Percentage Passing Read":passing_Read_count,
                                        "Percent Overall Passing Rate":overall_pass_rate
            })
SchoolSize_summary_df

,School Size,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,2739,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,427,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,2917,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,962,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,1800,83.682222,83.955000,93.333333,96.611111,94.972222

In [37]:
min = SchoolSize_summary_df["School Size"].min()
print(min)
mean = SchoolSize_summary_df["School Size"].mean()
print(mean)
max = SchoolSize_summary_df["School Size"].max()
print(max)

427
2611.3333333333335
4976

In [38]:
bins=[0, 1500, 3500, 5000]
group_labels=  ["Small (<1500)", "Medium (1500-3500)", "Large (3500-5000)"]

In [39]:
pd.cut(SchoolSize_summary_df["School Size"], bins, labels= group_labels)

Bailey High School        Large (3500-5000)
Cabrera High School      Medium (1500-3500)
Figueroa High School     Medium (1500-3500)
Ford High School         Medium (1500-3500)
Griffin High School           Small (<1500)
Hernandez High School     Large (3500-5000)
Holden High School            Small (<1500)
Huang High School        Medium (1500-3500)
Johnson High School       Large (3500-5000)
Pena High School              Small (<1500)
Rodriguez High School     Large (3500-5000)
Shelton High School      Medium (1500-3500)
Thomas High School       Medium (1500-3500)
Wilson High School       Medium (1500-3500)
Wright High School       Medium (1500-3500)
Name: School Size, dtype: category
Categories (3, object): [Small (<1500) < Medium (1500-3500) < Large (3500-5000)]

In [40]:
SchoolSize_summary_df["School Size Group"] = pd.cut(SchoolSize_summary_df["School Size"], bins, labels = group_labels) 
SchoolSize_summary_df

,School Size,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate,School Size Group
Bailey High School,4976,77.048432,81.033963,66.680064,81.933280,74.306672,Large (3500-5000)
Cabrera High School,1858,83.061895,83.975780,94.133477,97.039828,95.586652,Medium (1500-3500)
Figueroa High School,2949,76.711767,81.158020,65.988471,80.739234,73.363852,Medium (1500-3500)
Ford High School,2739,77.102592,80.746258,68.309602,79.299014,73.804308,Medium (1500-3500)
Griffin High School,1468,83.351499,83.816757,93.392371,97.138965,95.265668,Small (<1500)
Hernandez High School,4635,77.289752,80.934412,66.752967,80.862999,73.807983,Large (3500-5000)
Holden High School,427,83.803279,83.814988,92.505855,96.252927,94.379391,Small (<1500)
Huang High School,2917,76.629414,81.182722,65.683922,81.316421,73.500171,Medium (1500-3500)
Johnson High School,4761,77.072464,80.966394,66.057551,81.222432,73.639992,Large (3500-5000)
Pena High School,962,83.839917,84.044699,94.594595,95.945946,95.270270,Small (<1500)
Rodriguez High School,3999,76.842711,80.744686,66.366592,80.220055,73.293323,Large (3500-5000)
Shelton High School,1761,83.359455,83.725724,93.867121,95.854628,94.860875,Medium (1500-3500)
Thomas High School,1635,83.418349,83.848930,93.272171,97.308869,95.290520,Medium (1500-3500)
Wilson High School,2283,83.274201,83.989488,93.867718,96.539641,95.203679,Medium (1500-3500)
Wright High School,1800,83.682222,83.955000,93.333333,96.611111,94.972222,Medium (1500-3500)

In [41]:
# Create a GroupBy object based upon "Budget Per Student Group"
School_Size_Group =SchoolSize_summary_df.groupby("School Size Group")

# Find how many rows fall into each bin
print(School_Size_Group["School Size"].count())

# Get the average of each column within the GroupBy object
School_Size_Group[["Average Math Score", "Average Reading Score", "Percentage Passing Math","Percentage Passing Read",
                "Percent Overall Passing Rate"]]

School Size Group
Small (<1500)         3
Medium (1500-3500)    8
Large (3500-5000)     4
Name: School Size, dtype: int64

In [42]:
Scores_by_School_Size_df= SchoolSize_summary_df.groupby("School Size Group").mean()
Scores_by_School_Size_df

,School Size,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
School Size Group,,,,,,
Small (<1500),952.333333,83.664898,83.892148,93.497607,96.445946,94.971776
Medium (1500-3500),2242.750000,80.904987,82.822740,83.556977,90.588593,87.072785
Large (3500-5000),4592.750000,77.063340,80.919864,66.464293,81.059691,73.761992

In [43]:
# hide/drop "School Size" column
Scores_by_School_Size_group_df = Scores_by_School_Size_df.copy()
for col in ["School Size"]:
        Scores_by_School_Size_group_df=Scores_by_School_Size_group_df.drop(col,axis=1)
Scores_by_School_Size_group_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
School Size Group,,,,,
Small (<1500),83.664898,83.892148,93.497607,96.445946,94.971776
Medium (1500-3500),80.904987,82.822740,83.556977,90.588593,87.072785
Large (3500-5000),77.063340,80.919864,66.464293,81.059691,73.761992

# 2.6.	PyCitySchools :- Scores by School type

##  all tasks are completed
-	Average Math Score
-	Average Reading Score
-	% Passing Math
-	% Passing Reading
-	Overall Passing Rate (Average of the above two)

In [44]:
school_type=school_data_df.set_index(["school_name"])["type"]
student_count=school_data_complete["school_name"].value_counts()

avg_mathscore=school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_readscore=school_data_complete.groupby(["school_name"]).mean()["reading_score"]

passing_math=school_data_complete[(school_data_complete["math_score"] >= 70)]
passing_Read=school_data_complete[(school_data_complete["reading_score"] >= 70)] 


passing_math_count=passing_math.groupby(["school_name"]).count()["student_name"] / student_count *100
passing_Read_count=passing_Read.groupby(["school_name"]).count()["student_name"] / student_count *100

overall_pass_rate= (passing_math_count + passing_Read_count)/2


SchoolType_Scores_df=pd.DataFrame({"School Type":school_type,
                                 "Total Student":student_count,
                                 "Average Math Score":avg_mathscore,
                                 "Average Reading Score":avg_readscore,
                                 "Percentage Passing Math":passing_math_count,
                                 "Percentage Passing Read":passing_Read_count,
                                 "Percent Overall Passing Rate":overall_pass_rate
                                    })
SchoolType_Scores_df

,School Type,Total Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
Bailey High School,District,4976,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,83.682222,83.955000,93.333333,96.611111,94.972222

In [45]:
School_Type_Scores_df= SchoolType_Scores_df.groupby(["School Type"]).mean()
School_Type_Scores_df

,Total Student,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
School Type,,,,,,
Charter,1524.250000,83.473852,83.896421,93.620830,96.586489,95.103660
District,3853.714286,76.956733,80.966636,66.548453,80.799062,73.673757

In [46]:
# hide/drop "Total Student" column
School_Type_Group_df = School_Type_Scores_df.copy()
for col in ["Total Student"]:
    School_Type_Group_df=School_Type_Group_df.drop(col,axis=1)
School_Type_Group_df

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Read,Percent Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757